/*================================================================================================================================
    File Name: navigation.css
        Creator: Marvin S.
        Date: 2021-09-30
        Project: Navigation Styling
        Description:  This is the CSS file for the navigation component. It contains the styling for the navigation bar and its components.
        last update: 2021-10-01
 ==================================================================================================================================*/

/* Index 

Row: | Name:

     | Imports
     | 
     | 
     | 
     | 
     | 
     | 
     | 
     | 
     |
     | 
     | 
     | 
     |
     | 
     | 
     |
     | 
     |
    !!ATTENTION ROW NUMBER CHANCHES WHEN ADDING NEW ITEMS HERE OR BETWEEN THE ROWS!!
*/      


 /*Imports */


/* Navigation Styling */

.nav {
  display: flex;
  justify-content: flex-start;
  background-color: #3c424f;
}

.nav i {
  font-size: 36px;
  margin-bottom: 5px;
}

/* Styling for navigation links */
.nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 15px;
  color: white;
  transition: background-color 0.3s ease;
}

.nav a:not(:first-child) {
  border-left: 1px solid white;
}

.nav a:hover {
  background-color: green;
}

.nav a:active {
  background-color: darkgreen;
  color: white;
}

/* Styling for active link */
.nav a.active {
  background-color: darkgreen;
  color: white;
}

/* Underline only the text within the active link */
.nav a.active span {
  text-decoration: none;
}