/*================================================================================================================================
    File Name: Calendar.css
        Creator: Marvin S.
        Date: 2021-09-30
        Project: Calendar Card
        Description: This is the CSS file for the Calendar Card component. It contains the styling for the calendar card and its components.
        last update: 2021-10-01
 ==================================================================================================================================*/

/* Index 

Row: | Name:

     | Imports
     | Calendar Styling
     | Calendar Navigation Styling
     | Calendar card button styling
     | Style for the calendar open button
     | Month Styling
     | 
     | 
     |
     | 
     | 
     |
     | 
     |
     !!ATTENTION ROW NUMBER CHANCHES WHEN ADDING NEW ITEMS HERE OR BETWEEN THE ROWS!!
*/

 /*========>Calendar Styling<======== */

 .calendar .react-calendar {
  width: 100%;
  max-width: 500px;
  background-color: var(--card-bg-color);
  border: 1px solid #ddd;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  line-height: 1.5em;
}

.calendar .react-calendar__tile:hover {
  background-color: var(--hover-bg-color);
  transform: scale(1.05);
}

.calendar .react-calendar__tile--now {
  background: var(--primary-color);
  color: rgb(0, 0, 0);
  border-radius: 50%;
}

.calendar .react-calendar__tile--active {
  background: var(--active-bg-color);
  color: rgb(0, 0, 0);
  border-radius: 50%;
  transform: scale(1.1);
}

/*========>Calendar Navigation Styling<========*/

.react-calendar__navigation__label,
.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button,
.react-calendar__navigation__arrow.react-calendar__navigation__prev-button,
.react-calendar__navigation__label__labelText,
.react-calendar__navigation__label__labelText--from {
  color: black;
}

/*========>Calendar card button styling<========*/

.card-calendar-card button {
    font-size: 0.9rem;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.card-calendar button:hover {
  background-color: var(--button-hover-bg); 
  transform: scale(1.05);
}

.card-calendar button:focus {
  background-color: var(--button-hover-bg);
  transform: scale(1.20);
}

.card-calendar button:active {
  transform: scale(0.95); 
}
  /*========>Style for the calendar open button<========*/

  .calendar-open-button:hover {
    background-color: blue;
    transform: scale(1.05);
  }
  
  /*========>Month Styling<========*/

  .react-calendar__tile.react-calendar__month-view__days__day {
    color: black;
    background-color: none;
  }
  
  .react-calendar__month-view__days__day--weekend :last-child{
    color: gray;
  }
  
  .react-calendar__tile.react-calendar__year-view__months__month {
    color: black;
    background-color: var(--card-bg-color);
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .react-calendar__tile.react-calendar__year-view__months__month:hover {
    background-color: var(--hover-bg-color);
    transform: scale(1.05);
  }
  
 
.card-calendar-card .open-calendar {
  font-size: 0.9rem;
  background-color: var(--button-bg-color);
  margin-top: 1rem;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-calendar-card .open-calendar:hover {
  background-color: var(--button-hover-bg); 
  transform: scale(1.05);
}

.card-calendar-card .open-calendar:focus {
  background-color: var(--button-hover-bg);
  transform: scale(1.20);
}

.card-calendar-card .open-calendar:active {
  transform: scale(0.95); 
}

