/*================================================================================================================================
    File Name: profile.css
        Creator: Marvin S.
        Date: 2021-09-30
        Project: Profile Card Styling
        Description:  This is the CSS file for the Profile Card component. It contains the styling for the profile card and its components.
        last update: 2021-10-01
 ==================================================================================================================================*/

/* Index 

Row: | Name:

     | Imports
     | .profile-actions Buttons
     | .profile-Action, profile-button svg & img                                   
     | 
     |
     | 
     | 
     |
     | 
     | 
     | 
     | 
     | 
     |
     | 
     | 
     |
     | 
     |
     !!ATTENTION ROW NUMBER CHANCHES WHEN ADDING NEW ITEMS HERE OR BETWEEN THE ROWS!!
*/      

/* Profile Card Styling */

  /* ====>.profile-actions Buttons<==== */

  .profile-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  .profile-actions button {
    background-color: var(--button-bg-color); 
    color: white;
    border: none;
    border-radius: 30px;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-actions button:hover {
    background-color: var(--button-hover-bg); 
    transform: scale(1.05);
  }
  
  .profile-actions button:focus {
    background-color: var(--button-hover-bg);
    transform: scale(1.20);
  }
  
  .profile-actions button:active {
    transform: scale(0.95); 
  }

   /* ====>svg & img<==== */

  .profile-actions button svg {
    margin-right: 10px;
    color: white;
  }

  .action-item svg {
    font-size: 18px;
  }

  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }

